firebase-admin==6.2.0
google-cloud-firestore==2.11.1
transformers==4.35.0
torch>=2.0.0
newspaper3k==0.2.8
requests==2.31.0
python-dotenv==1.0.0
sentence-transformers>=2.2.0
lxml_html_clean
lxml[html_clean]
sib-api-v3-sdk>=8.0.0